@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addform {
    display: flex;
    flex-direction: column;

    &__container {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        @include tablet {
            width: 50%;

        }
    }

    &__available {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        @include tablet {
            width: 50%;
        }
    }

    &__title {
        padding: 1rem 0rem;
    }

    &__label {
        font-weight: 600;
        padding: 1rem 0rem 0rem;

        @include tablet {
            padding-top: 2rem;
        }
    }

    &__line {
        border-top: 0.063rem solid #BDC5D5;

        @include tablet {
            border-right: 0.063rem solid #BDC5D5;
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.25rem;
        background-color: #F7F8F9;
        padding: 1rem;
        margin-top: 1rem;

        @include tablet {
            display: flex;
            justify-content: flex-end;
        }

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            @include tablet {
                width: 35%;
                justify-content: flex-end;
            }
        }

        &-cancel {
            background-color: white;
            color: #5C667E;
            height: 36px;
            max-height: 36px;
            border-radius: 20px;
            width: 50%;
            border: 1px solid #BDC5D5;

            @include tablet {
                width: 30%;
                margin: 0rem 1rem;
            }
        }

        &-save {
            background-color: #2E66E5;
            color: white;
            height: 36px;
            max-height: 36px;
            border-radius: 20px;
            width: 45%;
            border: none;

            @include tablet {
                width: 30%;
            }
        }

    }

    &__error {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        margin:2% 0 0 5%;
    }

}

