@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;

.warehouse__list-header {
    display: none;

    @include tablet {
        display: flex;
        gap: 5vw; 
        width: 100%;
        padding: 0 1rem;
        // justify-content: space-between;
    }

    &-title {
        font-weight: 600;
        color: $sec-color-1;
        background-image: url('../../assets/images/icons/sort-24px.svg');
        background-repeat: no-repeat;
        background-position: right;
        // padding-right: 1.5rem;
        background-size: 15px;
        width: 90px;

        &--contact {
            width: 130px;
        }

        &--info {
            width:170px ;
        }
     
        

        &--actions {
            background-image: none;
        }

    }
}