@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;

.warehouse__list-header {
    display: none;


    @include tablet {
        display: flex;
        gap: 30px;
        padding: 0 2rem;
        background-color: $background-color-2;
    }

    @include desktop {
        padding: 0 2.5rem;
        gap: calc(9vw - 80.2px);
    }

    &-title {
        font-weight: 600;
        color: $sec-color-1;
        background-image: url('../../assets/images/icons/sort-24px.svg');
        background-repeat: no-repeat;
        background-position: 70px;
        background-size: 15px;
        width: calc(15.625vw - 20px);
        padding: 11px 0;


        &--address{
            background-position: 55px;
                @include tablet {
                    width: calc(23.44vw - 80px);
                }
        }

        &--contact {
            width: calc(11.72vw + 10px);
            background-position: 85px;
        }

        &--info {
            width: calc(3.906vw + 120px);
            background-position: 130px;

        }

        &--actions {
            background-image: none;
            width: 70px;
            text-align: end;
        }

    }
}