@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.warehouse-card{
    padding: 1.5rem;
    padding-top: 0;
    border-bottom: 1px solid $sec-color-2;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    &:hover{
        background-color: rgba(46, 102, 229, 0.07)
    }

    @include tablet {
        padding: 0 2rem;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    @include desktop {
        padding: 0 2.5rem;
    }
  

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;
   
        @include tablet {
            flex-direction: row; 
            gap: calc(19.8vw - 114px);
            margin-right: calc(19.8vw - 114px);;
            width: auto;
        }

        
        
    }

    &__tile {
        padding-top: 1rem;

        @include tablet {
            display: flex;
                flex-direction: column;
                padding-bottom: 1rem;
                justify-content: center;
            
        }
    
    }

    &__title {
        font-weight: 600;
        color: $sec-color-1;
        @include tablet {
            display: none;
        }
    }

    &__content {
        padding-top: 4px;
        width: 90px;

        

        &--contact {
            @include tablet {
                width: 130px;
            }
        }

        &--contact-info {
            width: 120px;
            @include tablet {
                width: 170px;
            }
        }

       
    }

   
    &__name {
        color: $prim-color-2;
        font-weight: 600;
        background-image: url('../../assets/images/icons/chevron_right-24px.svg');
        background-repeat: no-repeat;
        background-position: 75px 4px;
        background-size: 20px;
        &:hover{
            cursor: pointer;
            text-decoration: underline $prim-color-2;
        }
    }

    &__address {
        @include desktop {
            width: 180px;
            

        }
    }


    &__icons-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        @include tablet {
            width: 70px;
            margin-left: -15px;
        }
    }

    &__icons {
        width: 22px;
    }
}

