@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;

.warehouseD__list-header {
    display: none;

    @include tablet {
        display: flex;
        width: 100%;
        padding: 0.5rem 1rem;
        // justify-content: space-between;
        background-color: $background-color-2;
        // gap: 30px;
        gap: calc(15.5vw - 96px);
    }

    &-title {
        font-weight: 600;
        color: $sec-color-1;
        background-image: url('../../assets/images/icons/sort-24px.svg');
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 1.5rem;
        background-size: 15px;
        width: 100px;
        &--inventory{
            width: 135px;
        }
    }
    &-title:nth-child(1){
        background-position: 90px;
    }
    &-title:nth-child(2){
        background-position: 55px;
    }
    &-title:nth-child(3){
        background-position: 40px;
    }
    &-title:nth-child(4){
        background-position: 20px;
    }

    &-title:nth-child(5){
        background-image: none;
    }
}