@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.inventory-card {
    padding: 1rem;
    padding-top: 0;
    border-top: 1px solid $sec-color-2;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      flex-wrap: nowrap;
    }
    &__link{
      color: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    &__details-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 48%;
  
      @include tablet {
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        width: 30%;
      }
      @include desktop {
        width: 25%;
      }
    }
    &__details-container:nth-child(2){
        width: 52%;
        @include tablet{
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            width: 20%;
        }
    }
    &__details-container:nth-child(3){
        width: 52%;
        @include tablet{
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            width: 10%;
        }
        @include desktop{
            width: 1%;
        }
    }
  
    &__tile {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      @include tablet{
        flex-direction: row;
        align-items: center;
      }
  
      &--contact {
        @include tablet {
          display: flex;
          flex-direction: column;
        }
      }
    }
    &__warehouse{
        padding-left: 100%;
        @include tablet{
            padding-left: 1rem;
        }
        @include desktop{
            padding-left: 1rem;
        }
    }
    &__warehouse-name:hover{
        text-decoration: underline solid $prim-color-2 1px;
    }
  
    &__title {
      font-weight: 600;
      color: $sec-color-1;
      @include tablet {
        display: none;
      }
    }
    &__name:hover{
      text-decoration: underline solid $prim-color-2 1px;
    }
    &__chevron{
      padding-top: 8px;
    }
  
    &__content {
      padding-top: 4px;  
    }
  
    &__name {
      color: $prim-color-2;
      font-weight: 600;
      // background-image: url("../../assets/images/icons/chevron_right-24px.svg");
      // background-repeat: no-repeat;
      // background-position: 85px 4px;
      // background-size: 20px;
    }
  
    &__icons-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1rem;
      padding-right: 1rem;
      @include tablet {
        width: 9%;
        justify-content: center;
        gap: 1rem;
        padding-right: 0.5rem;
      }
      @include desktop {
        width: 8%;
        justify-content: center;
        gap: 1rem;
      }
    }
  
    &__icons {
      width: 22px;
    }
    &__modal {
      width: 100vw;
      height: 100vh;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      padding: 0;
      position: absolute;
  
      @include tablet {
          max-width: 500px;
          height: auto;
          left: 40%;
      }
  }
  
    &__modal-overlay{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
  }
  &__delete-container{
    background-color: transparent;
    border: none;
  }
  }