@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: $background-color-2;
    padding: 5rem 5rem 2rem;
    text-align: center;

}