@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.warehouse-edit {

    &__header {
        display: flex;
        gap: 12px;
        padding: 32px 24px;
    }

    &__details-header, &__contact-header {
        padding-bottom: 16px;
    }

    &__details, &__contact, &__buttons {
        padding: 16px 24px;
    }

    &__details, &__contact {
        border-top: 1px solid $sec-color-2;
    }

    &__buttons {
        display: flex;
        gap: 16px;
        justify-content: center;
        background-color: $background-color-2;
    }

}