// breakpoints for responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$prim-color-1: #13182c;
$prim-color-2: #2e66e5;
$prim-color-3: #ffffff;

$sec-color-1: #5c667e;
$sec-color-2: #bdc5d5;

$background-color-1: #232940;
$background-color-2: #f7f8f9;

$support-color-1: #158463;
$support-color-2: #c94515;
