// breakpoints for responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$prim-color-1: #13182C;
$prim-color-2: #2E66E5;
$prim-color-3: #FFFFFF;

$sec-color-1: #5C667E;
$sec-color-2: #BDC5D5;

$background-color-1: #232940;
$background-color-2: #F7F8F9;

$support-color-1: #158463;
$support-color-2: #C94515;

