@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


*{
    background-color: $background-color-1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.Nav{
display: flex;
align-items: center;
flex-direction: column;
@include tablet {
    flex-direction: row;
    justify-content: space-between;
}

&__logo{
    display: flex;
    padding: 16px;
    @include tablet {
        padding: 32px;
    }
    @include desktop{
        padding: 32px 0px 32px 80px;
    }

}
&__links-container{
    display: flex;
    color: white;
    justify-content: space-between;
}
&__link{
    text-decoration: none;
    color: inherit;
    @include tablet {
        padding-right: 32px;
    }
    @include desktop{
        padding: 32px 80px 32px 0px;
    }
}
&__left{
    padding-right: 32px;
}
}