@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $background-color-1;
  padding-bottom: 65px;
    @include tablet{
      flex-direction: row;
      justify-content: space-between;
      padding-left: calc(19.14vw - 115px);
      padding-right: calc(19.14vw - 115px);
      padding-bottom: 60px;
  }
  &__logo {
    display: flex;
    padding: 16px;
    // @include tablet {
    //   padding: 16px 68px 0px 68px;
    // }
    // @include desktop {
    //   padding: 16px 0px 32px 130px;
    // }
  }
  &__links-container {
    display: flex;
    justify-content: space-between;
    @include tablet {
      padding-right: 16px;
    }
    // @include desktop{
    //   padding-right: 16px;
    // }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  
  }
  &__left {
    padding-right: 16px;
  }
  &__btn {
    height: 2.5rem;
    width: 8rem;
    border-radius: 20px;
    border: none;
    color: $sec-color-2;
    background-color: $background-color-1;
  }
  &__btn:hover {
    text-decoration: underline;
    color: $prim-color-3;
  }
  &__btn:focus {
    height: 2.5rem;
    width: 8rem;
    background-color: black;
    color: $prim-color-3;
  }
}