@use "../../styles/partials/variables" as *;

.button {
    border: none;
    border-radius: 1.25rem;
    color: $prim-color-3;
    font-weight: 600;
    width: 8.6875rem;
    height: 2.25rem;
    padding: 8px 0;

    &:hover {
        cursor: pointer;
    }
}
