@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;



.warehouse__header {
    margin: 1rem;

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    @include tablet {
        margin: 1.5rem;
        
    }

}