@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;



.warehouse__header {
    margin: 1.5rem;

    @include tablet {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    @include desktop {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }


}