@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;




.warehouse {
    margin: 0 1rem;
    background-color: $prim-color-3;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

    @include tablet{
        // margin: 0 2rem;
        margin-left: calc(19.14vw - 115px);
        margin-right: calc(19.14vw - 115px);
    }

    @include desktop{
        margin: 0 8.125rem;
    }
    
    &__header {
        padding: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $sec-color-2;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: none;
        }

        @include desktop {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }


    }
}

