@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addinv {
    margin: 0 1rem;
    background-color: $prim-color-3;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

    @include tablet{
        // margin: 0 2rem;
        margin-left: calc(19.14vw - 115px);
        margin-right: calc(19.14vw - 115px);
    }

    @include desktop{
        margin: 0 8.125rem;
    }

    &__header {
        display: flex;
        padding: 2rem 1rem;
        border-bottom: 0.063rem solid #BDC5D5;
        align-items: center;
    }

    &__header-img {
        padding-right: 0.375rem;
        vertical-align: middle;
    } 
}