@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

// converted support-color-2 => RGBA value
.out-stock__btn{
    background-color: rgba(2021,69,21,0.07);
    color: $support-color-2;
    border: none;
    border-radius: 20px;
    width: 4.925rem;
    font-size: 11px;
}