@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;

.inventory-details{
    margin: 0 1rem;
    background-color: $prim-color-3;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

    @include tablet{
        margin-left: calc(19.14vw - 115px);
        margin-right: calc(19.14vw - 115px);
    }

    @include desktop{
        margin: 0 8.125rem;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.5rem ;
        border-bottom: 1px solid $sec-color-2;
        
    }

    &__title-container {
        display: flex;
    }

        &--back-icon{
            width: 16px;
            height: 16px;
        }

    &__item{
        margin-left: 12px;
    }

    &__edit-container {
        background-color: $prim-color-2;
        width: 36px;
        height: 36px;
        border-radius: 20px;
        position: relative;

        &:hover{
            cursor: pointer;
        }

        @include tablet {
            width: 81px;
            height: 38px;
            padding: 8px 16px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__edit-icon {
        filter: brightness(0) invert(1);
        width: 15px;
        height: 15px;
        position: absolute;
        left: 10.5px;
        bottom: 10.5px;

        @include tablet {
            position: relative;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
        }
     
    }

    &__edit-text{
        visibility: hidden;

        @include tablet{
            visibility: visible;
            color: white;
            font-size: 14px;
        }
    }

    &__card{
        padding: 1.5rem;

        @include tablet{
            padding: 2rem;
            display: flex;
        }
    }

    &__container{
        @include tablet{
            width: 50%;

           &--left{
                border-right: 1px solid $sec-color-2;
                padding-right: 2rem;
            }

            &--right{
                padding-left: 2rem;
            }
        }
    }

    &__title{
        font-weight: 600;
        color: $sec-color-1;
        padding-bottom: 4px;
    }

    &__details{
        padding-bottom: 1rem;

        @include tablet{
            padding-bottom: 2rem;
        }

        &-category{
            padding-bottom: 0;
        }
    }

    &__tile {
        display: flex;
        gap: 35%;
    }

    &__status{
        border-radius: 20px;
        background-color: rgba(21, 132, 99, 0.07);
        padding: 4px 8px;
        font-weight: 600;
        color: green;
        margin-bottom: 1rem;

        &-out-of-stock{
            background-color: rgba(21, 132, 99, 0.07);
            color: #C94515;
        }
    }
}