@use "./styles/partials/reset";
@use "./styles/partials/fonts";
@use "./styles/partials/variables" as *;


body {
    background-color:$background-color-2;
}
a:link {
    text-decoration: none;
}

.main__page {
    position: relative;
    bottom: 50px;
    padding: 0rem 1rem;
}